.card-container{
    display: flex;
    border: 1px solid rgb(220, 181, 107);
    padding: 2rem 3rem;
    font-size: 1.8rem;
    justify-content: center;
    align-items: center;
    max-width: 60rem;
    border-radius: 5px;
    box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.5);
    margin: 1rem auto;
    overflow: hidden;
    min-height: 25rem;
    max-height: 25rem;
    position: relative;
}
.card-left-section{
    width: 40%;
    margin-right: 2rem;

}
.card-left-section a{   
        text-decoration: none;
        color: rgb(34, 29, 29);   
}
.quote {
    color: rgb(220, 181, 107);
    position: absolute;
    width: 4rem;
    height: 5rem;
    top: -1rem;
    left: 15rem;
  }

  .student-img{
    border-radius: 5px;
  }
  .bar {
    margin-top: 0;
    margin-bottom: 0;
  }

  .card-container p{
    font-size: 1.5rem;
  }